[2015-12-17 11:15] sandys opened #1 "long term solution to packaging babel"
hi Daniel,
probably you and I are the only ones interested in this conversation (https://github.com/babel/babel/commit/c0afdfd1a83aab0c25a1fc23cee0b09d560f4d35). do you think Requirejs is a viable long term solution for people looking at a pure browser based flow ?

or do you think we should start looking at alternatives. I'm not sure if you will maintain babel-standalone in the long term.

[2015-12-23 12:51] finom commented on #1
There are more people interested in babel-browser. You're not alone. Dev versions for all my projects for the last months are powered by babel-browser.

[2015-12-24 00:36] kapitancho commented on #1
Count me in. I would be happy to find an adequate solution for this problem. I wrote a comment in the same conversation and I would be happy to hear your feedback!

[2016-01-01 03:30] kevinbarabash opened #2 "Add 2015-loose preset"
It would be nice to have this option.

[2016-01-03 07:53] Daniel15 commented on #2
Good idea, I didn't realise this preset existed :)

[2016-01-05 22:00] jubishop commented on #1
I've just been looking into this myself, trying to make a standalone Rack middleware layer for my Ruby server.  Thanks for making this.

[2016-01-05 22:04] jubishop commented on #1
btw I can get this working from within ruby like so:

js_code = ExecJS.compile(File.read('babel.js'))

babel_code = js_code.call(
  'Babel.transform',
  File.read('./public/js/jubiku.js'),
  {'presets' => ['es2015'], 'ast' => false}
)['code']

just replace that ./public/js/jubiku.js with whatever file you want to transpire.

[2016-01-08 09:35] daaain opened #3 "Automatic builds of latest (or all) Babel versions"
Hey,

I also think having this `browser.js` functionality is great for client only prototyping and examples on the web, so would be great to keep it running.

But it's not reasonable to keep this up to date manually, so maybe a good automatised build chain could take care of things? So I'm thinking something along the lines of [GreenKeeper](http://greenkeeper.io/) creating PRs of new versions of B

[2016-01-08 09:44] Daniel15 commented on #3
Sure, I'm happy to set something up :) I'll take  a look at this soon.

Sent from my phone.
On Jan 8, 2016 8:35 PM, "Daniel Demmel" <notifications@github.com> wrote:

[2016-01-09 22:35] voronianski opened #4 "Using the plugin throws an error"
I'm experimenting with your module in browser and I would like to use `transform-runtime` plugin. However for now it's impossible 'cause an error is thrown - `Uncaught ReferenceError: require is not defined`. It points to this line - `var _regenerator = require('babel-runtime/regenerator');` which is the code of plugin itself. Does this mean that your module needs deeply include/require all depend

[2016-01-10 01:19] danmartinez101 commented on #4
Couple of things you can try here:
1. use a direct require of the module into your options object as demonstrated in [throw-in-the-towel](https://github.com/danmartinez101/throw-in-the-towel/blob/master/index.js#L50)

2. try including the transform-regenerator plugin as well

[2016-01-11 13:10] Daniel15 commented on #4
Hmm, seems like I need to do some more testing of `transform-runtime`. Thanks for the report, I'll try to look at this over the weekend.

[2016-01-18 01:48] #2 closed

[2016-01-18 01:49] Daniel15 commented on #1
@jubishop  - You might be interested in https://github.com/babel/ruby-babel-transpiler, which basically does just that.

[2016-01-18 01:53] Daniel15 commented on #1
I'm not sure, to be honest. At this point, the best long-term solution is probably to use Webpack or Browserify, as those seem to be the solutions most supported by the Babel team. While it's not a pure browser-based flow, Webpack's "watch" feature combined with live reloading is a pretty good development flow.

[2016-01-18 01:54] kevinbarabash commented on #2
Thanks.

[2016-01-18 02:08] Daniel15 commented on #4
So I looked into this, and by definition I don't think there's any useful way to use `transform-runtime` with `babel-standalone`. `transform-runtime` requires a module system of some sort (eg. CommonJS). I think you'd need to load a module plugin other than `transform-es2015-modules-commonjs` if you wanted to use it.

It looks like `transform-runtime` loads polyfills and external helpers, rather t

[2016-01-18 02:08] #4 closed

[2016-01-18 02:17] jubishop commented on #1
Daniel, thanks for your reply.  I actually started by looking at that.  :)  Unfortunately it is still using the older version of babel.  your release is the only way i've found, right now, to use the most modern babel release from ruby.

[2016-01-21 14:24] matthewp opened #10 "sourceMaps"
First, thanks a lot for this project, it's been very useful.

I'm actually considering using babel-standalone within Node because babel 6 is prohibitively slow in NPM 2.x.  The one problem I've encountered is that sourceMaps don't seem to work with babel-standalone. I can look into why, but was just wondering if you knew anything about this.

[2016-01-24 09:51] elennaro opened #11 "jsx-control-statements with babel standalone"
How can I use the plugin that is not included, like [jsx-control-statements](https://github.com/AlexGilleran/jsx-control-statements). I'd really appreciate any help.

[2016-01-25 00:08] fbastian opened #12 "API methods transformFile and transformFileSync"
The README states that `babel.js` will expose the Babel API, but it seems that the methods `transformFile` and `transformFileSync` are not accessible (see http://babeljs.io/docs/usage/api/). Is there any plan to make these methods available?

[2016-01-25 00:14] Daniel15 commented on #12
This is intentional - File system APIs are specific to Node.js, whereas babel-standalone is designed to run in standalone contexts outside of Node.js. It doesn't have access to any native or Node-specific APIs.

[2016-01-25 00:14] #12 closed

[2016-01-26 00:08] antivanov opened #14 "Bower support is missing"
Currently the Bower support is missing which complicates the installation process.

One way of enabling Bower support is to have the built artifacts published to the main repository as some projects do, however this was not deemed appropriate https://github.com/Daniel15/babel-standalone/pull/13

Another way is to create a separate "artifact" repository/project that will contain the built artifacts

[2016-01-26 12:07] antivanov commented on #10
I am having the same problem, trying to figure out the reason. I see that `//# sourceMappingURL=` is included into the transpiled file at the bottom, but the browser (Chrome) does not show the sources. I tried transpiling the same sources with an older Babel version and the sources were visible in the browser. Looks like the problem is either in the newer version of Babel or in `babel-standalone`.

[2016-01-26 12:12] danmartinez101 commented on #14
`bower install https://npmcdn.com/babel-standalone@6.4.4` should do the trick for you.

[2016-01-26 15:59] antivanov commented on #10
In my case the reason seems to be the AMD modules plugin `transform-es2015-modules-amd` as when I am commenting it out the source maps are fully generated and work properly.

[code]

I am also trying to debug Babel and find the root cause.

[2016-01-26 16:02] matthewp commented on #10
Ah, I was using amd as well. That must be it.

[2016-01-27 08:41] antivanov commented on #14
Thank you, for some reason I get an error message, might be related to the network configuration or Bower version I am using (1.7.2):

[code]

In any case it might be nice to have an official Bower package.

[2016-01-27 13:57] antivanov commented on #11
The following might work (did not try it myself). From the source code it seems that you can try to require the desired plugin and pass it in the Babel options:

[code]

[2016-01-27 16:06] elennaro commented on #11
@antivanov thank you.
I use it from nashorn, so I've forked babel-standalone and injected jsx-control-statements.

[2016-01-27 16:06] #11 closed

[2016-01-27 17:29] Daniel15 commented on #11
Sorry I didn't reply sooner! Loading extra plugins really depends on your environment. If you have a working CommonJS environment (that is, `require`  works), then just `require`-ing it as @antivanov mentioned should work. Otherwise, you'd need to use something like Webpack or Browserify to bundle babel-standalone along with any extra plugins you want to use.

[2016-01-27 19:15] elennaro commented on #11
@Daniel15 thank you.

[2016-02-01 20:02] carrieje commented on #12
Any clue on how to compile a file then ?
I tried the following to compile my `scripts/index.js` file:
[code]

Maybe the answer is the same "No filesystem aspect".
But it is worth the question :-)

[2016-02-01 21:49] Daniel15 commented on #12
@carrieje - Ah, parsing of `script` tags with `text/babel` type is a good idea, I'll create a separate issue for that.

 `Babel.transform` just returns the transformed code, it does not actually execute it. You could execute it with `eval`.

[2016-02-01 21:50] Daniel15 opened #15 "Add ability to handle scripts using `text/babel` type"
As a simple example:

[code]

`babel-standalone` should provide some way to parse all `text/babel` script tags, transform the script using Babel, and evaluate their contents.

[2016-02-01 22:33] carrieje commented on #12
Yeah ! it would  be great !
Thank you.

Last detail, why this code produces `ReferenceError: require is not defined` ?
[code]

Are the original issue and this, related ? Meaning related to "no filesystem" concept ?

[2016-02-01 22:35] Daniel15 commented on #12
That's right. `require` is mostly a NodeJS concept. Browsers don't have a `require` function built-in, so `require` doesn't do anything if you just try to use it by itself :) . You'd need to use some script that adds a require function (for example, RequireJS), or some other way of loading the code (for example, doing an AJAX request).

[2016-02-01 22:39] carrieje commented on #12
:+1:

[2016-02-01 23:38] fbastian commented on #12
+1, this is basically what I wanted to achieve and why I opened this issue.

[2016-02-02 02:54] danmartinez101 commented on #15
https://github.com/danmartinez101/throw-in-the-towel/blob/master/index.js

I built this based on babel-standalone. This is basically the only addition I made on top of babel-standalone.

I'd be ecstatic to submit a PR for this and deprecate throw-in-the-towel. Let me know what you think!

[2016-02-10 09:39] peterjuras opened #16 "Upgrade path from babel-core.browser"
Hi!

I wanted to ask what the recommended upgrade path is to have on-the-fly compilation in the browser. Previously, I would use ```babel-core.5.8.34``` like this:

[code]

```mysource.js``` would now be automatically compiled and executed. How can I achieve this with babel-standalone?

[2016-02-10 13:29] danmartinez101 commented on #16
https://github.com/Daniel15/babel-standalone/issues/15

[2016-02-10 22:09] #16 closed

[2016-02-10 22:12] peterjuras commented on #15
That looks great! Any update on a PR?

[2016-02-11 01:19] danmartinez101 commented on #15
I'm still happy to create a PR for this if @Daniel15 would like to integrate something like it.

[2016-02-15 22:57] Daniel15 commented on #15
Sure, I'd appreciate a pull request :smile:

[2016-02-16 21:58] NerdGGuy opened #17 "JSX tranformation is slow"
Seems almost unusable on a mobile device. Completely different of course but I compared the jsx transformation to a browser version of html2hscript which seems to perform much better.

http://jsperf.com/babel-jsx-vs-html2hscript

Probably not something that can be fixed in babel-standalone but thought it's worth mentioning since the use-cases are similar but we see a crazy difference in performanc

[2016-02-16 22:01] Daniel15 commented on #17
it might be worth testing with an older version of `babel-browser` (from prior 6.x releases, or even the 5.x version) and seeing how the performance compares. I don't think Babel is really designed to be run on a mobile device.

[2016-02-16 22:37] NerdGGuy commented on #17
On further profiling (version 6) it appears the speed difference is primarily caused by babel doing an AST based transformation as opposed to html2hscript tokenizing. According to a react discussion https://github.com/facebook/react/issues/5497 babel 6 performs better then babel 5.

I guess there is not much that can be done about that as babel is not expected to fit this use-case and any improvem

[2016-02-16 22:37] #17 closed

[2016-02-22 22:44] streets-ahead opened #19 "Safari gives "ERROR: unknown: Property id of VariableDeclarator expected node""
Safari is giving an error: ERROR: unknown: Property id of VariableDeclarator expected node.  But this bug is extremely strange.  First it only happens in Safari with the console closed, if I open the console its fine.  Second, I've boiled it down to the following simple code showing the issue:

[code]

Its really strange, if I remove for example, the <input> tag, it starts working.  Also if I chan

[2016-03-04 14:49] weslleyaraujo opened #21 "Browser support"
Hi @Daniel15,

would be nice to have a browser support list at the `readme.md` file or somewhere :)

So far I have done some tests with `babel-standalone` and I could not make it run on IE8/IE9,
other browsers seems okay.

[2016-03-06 05:46] Daniel15 commented on #21
You might need to load some polyfills in old IE. What errors were you encountering in IE9?

[2016-03-07 11:47] weslleyaraujo commented on #21
So, I built babel from the last `babel-standalone` update (6.6.5)
and here are the details that I got so far:

[code]

**IE9 non-minified babel**
![ie9_-_win7__running_](https://cloud.githubusercontent.com/assets/2286385/13568539/1f0600c0-e462-11e5-9523-1102e487bc2c.png)

**IE9 minified babel**
![ie9_-_win7__running_min](https://cloud.githubusercontent.com/assets/2286385/13568547/2541d9b4-e462-11e

[2016-03-14 04:52] Daniel15 commented on #10
I'm going to close this issue since it sounds like it's a core Babel issue (https://phabricator.babeljs.io/T6766) and should be tracked there. Thanks for reporting it!

[2016-03-14 04:52] #10 closed

[2016-03-18 23:10] Treri opened #23 "[SOLVED]How can I integrate System.js and babel in browsers?"
Help please!

How can I intergrate System.js and babel in browsers?

I want to use the pure es6 source code in browser when in **development** mode, and bundle files together when in production mode. So I config system.js and babel like below.

I installed both the latest version systemjs(0.19.24) and babel-standalone(6.6.5) via npm.

my index.html is below

[code]

and my boot.js is below

[code]

[2016-03-20 00:20] #23 closed

[2016-03-22 01:05] mjhamm75 opened #24 "Create a React element"
How do I create a `React` element from the string that is returned from `transform`?

[2016-03-23 16:15] loganfsmyth opened #25 "Rebuild for 6.7.4"
We've been getting reports in https://phabricator.babeljs.io/T7198 which appear to be because of minification. I _think_ the case people are hitting will no longer occur in 6.7.x so it'd be great to get a new version of this out, since I think the majority of cases where people are using Babel as a prebuilt package is through this module.

[2016-03-23 16:20] Daniel15 commented on #25
Thanks, I'll do this as soon as I'm at my computer. I've been meaning to
automate pushing new builds of babel-standalone as soon as new releases of
Babel come out, I'll try to get that done soon :)

Sent from my phone.
On Mar 23, 2016 9:15 AM, "Logan Smyth" <notifications@github.com> wrote:

[2016-03-23 19:10] Daniel15 commented on #25
I've published 6.7.4 to npm as well as the Github releases page (https://github.com/Daniel15/babel-standalone/releases/tag/release-6.7.4).

[2016-03-23 19:10] #25 closed

[2016-04-09 11:11] ZaDarkSide opened #27 "How to use Babel plugins with Babel Standalone?"
I would like to use https://github.com/Naddiseo/babel-plugin-mjsx

Adding it to plugins array like this:

[code]

Gives error:

[code]

[2016-04-09 17:56] ZaDarkSide commented on #27
Well after some digging, I arrived at the conclusion that I must modify in this project ```gulpfile.js```

And add my plugin there like this:

[code]

[2016-04-17 06:21] Daniel15 commented on #27
You need to compile the plugin (eg. through Webpack or Browserify), and then pass it in the actual plugin itself.

Example:
[code]

Where `whateverExtraPluginYouWantToUse` is the actual plugin itself.

[2016-04-17 06:21] #27 closed

[2016-04-17 06:22] Daniel15 commented on #24
Can you elaborate on exactly what you're trying to do? :)

[2016-04-18 01:08] Daniel15 commented on #14
I added Bower support, you should be able to `bower install babel-standalone`. Bower pulls directly from a Git repo, so I had to create a separate repo to contain the build artifacts (https://github.com/Daniel15/babel-standalone-bower). I didn't want them clogging up the main repo - A Git repo is not the right place for build artifacts!

[2016-04-18 01:08] #14 closed

[2016-04-18 02:28] Daniel15 commented on #21
Babel polyfill is already standalone :) You can load it from CDNJS if you like (https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.7.4/polyfill.min.js).

[2016-04-18 02:30] Daniel15 commented on #21
Interesting, Babel is probably doing something that doesn't work in IE9. Note that Microsoft no longer support IE8, IE9 and IE10 so it's unlikely this will be fixed. I'm going to close this out since I don't plan on supporting IE versions that are no longer supported by Microsoft.

Babel polyfill is already standalone, by definition all polyfills need to be standalone and able to load in a browser

[2016-04-18 02:30] #21 closed

[2016-04-18 12:57] antivanov commented on #14
Thanks a lot for implementing Bower support. It is quite important since babel-standalone is mostly used in a browser environment.

[2016-04-19 21:17] jkennerley opened #29 "t.transform not a function with "systemjs": "~0.19.26", "babel-standalone": "~6.7.4""
getting this issue from chrome console ...
  system.js:4 Uncaught (in promise) Error: TypeError: t.transform is not a function(…)

This may relate to https://github.com/systemjs/systemjs/issues/891

I have this package json ...
{
  "name": "ASP.NET",
  "version": "0.0.0",
  "dependencies": {
    "angular2": "~2.0.0-beta.14",
    "systemjs": "~0.19.26"
  },
  "devDependencies": {
    "gulp": "3.9.1

[2016-04-20 09:51] HQidea opened #30 "Babel.transform fails when localStorage.debug = '*'"
maybe should use `browser` field in package.json instead of `main` when `require('debug')`, but I am not sure whether it's a webpack bug

[2016-04-21 07:01] Daniel15 commented on #30
Do you get an error message?

[2016-04-21 09:05] HQidea commented on #30
yes
[code]

[2016-04-21 09:06] HQidea commented on #30
it also appears in https://babeljs.io/repl/

[2016-04-24 04:37] Daniel15 commented on #30
@HQidea  - Could you please provide instructions on how to replicate the issue on https://babeljs.io/repl/? I'm having trouble working out exactly where you're doing `localStorage.debug = '*'`.

[2016-04-24 04:41] Daniel15 commented on #29
I suspect this is an issue with SystemJS rather than babel-standalone. Please file this in the SystemJS repo. Thanks! :smile:

[2016-04-24 04:41] #29 closed

[2016-04-24 05:14] Daniel15 commented on #19
Given its very low market share, I don't really have time to look into issues that are specific to Safari (much in the same way that I no longer look into IE 6 and 7 issues). You could try filing this as a bug in the Babel bug tracker and see if anyone has any idea what's causing this, as it'll be some issue in the Babel code somewhere. It's possible it's a bug in Safari rather than a bug in Babel

[2016-04-24 05:14] #19 closed

[2016-04-25 02:44] HQidea commented on #30
@Daniel15
1. open https://babeljs.io/repl/
2. open console and set `localStorage.debug = '*'`
3. reload https://babeljs.io/repl/
4. all transforms fail

[2016-04-25 04:41] #30 closed

[2016-05-10 12:31] HQidea commented on #30
@Daniel15 this issue is still there, the bundle file remains using Node.js version of visionmedia-debug

[2016-05-12 12:16] Daniel15 commented on #30
I haven't released a new version of babel-standalone yet. I'll do so once a new Babel version comes out.

[2016-05-30 14:13] philmaker commented on #1
One reason why babel in the browser is so important is because of the concept of direct manipulation of code to see results. I shouldn't have a build process forced on me when I don't need it.

[2016-05-31 13:47] hzoo commented on #3
This would be great since we are using babel-standalone for the repl atm and it would be good for it to be updated to the latest release since its still on 6.7.7 (the last babel-standalone update). Even better maybe would be to have a dropdown for the last few versions for testing purposes.

Also, If you don't have as much time to maintain I can help with doing a release when we update babel befor

[2016-06-03 18:30] PeterDaveHello commented on #3
Is there any updates here? Thanks.

[2016-06-03 23:33] Daniel15 commented on #3
Yes, this is still something I'm going to implement.

@hzoo Every release is on CDNJS, we could easily show a dropdown on the
Babel REPL.

Sent from my phone.
On Jun 4, 2016 4:30 AM, "Peter Dave Hello" <notifications@github.com> wrote:

[2016-06-08 00:06] khankuan commented on #24
Hey, i had a similar question. I have something like:
[code]
But encountered `React is not defined`. Do you have any advice for it? Thanks!

[2016-06-08 00:08] Daniel15 commented on #24
You need to load React. Easiest way is to load it from Facebook's CDN:
[code]

Also note that you can't use `import` statements with babel-standalone, as it does not provide any module system.

[2016-06-08 01:48] khankuan commented on #24
Ah okie, basically `window.React` needs to be defined in my case

[2016-06-08 01:51] khankuan commented on #24
If I have a component `<MyButton />`, is there a way to reference it?

[2016-06-08 12:24] LeonFedotov commented on #3
This would be great :+1:

[2016-06-08 12:27] Daniel15 commented on #3
I'm currently overseas but I've got some half-completed scripts for this on my home computer. I'll take a look and finish this once I'm back home :+1:

I do have Greenkeeper configured for this repo, it never sends me any pull requests whenever new Babel versions come out though. I think it's broken or something.

[2016-06-13 08:23] LeonFedotov commented on #3
Would you like to collaborate on that to advance this issue?

[2016-06-16 23:29] congrady opened #32 "Async/await plugin"
Hello,
It might be a noob question, but is there a way to use a plugin for async/await in browser environment with babel standalone? Is babel standalone extendable?
And if so, how would I do that?

Thanks

[2016-06-19 00:57] gutenye commented on #15
Any updates? I believe a lot of developers need this feature since Babel 6 does not support it.

[2016-06-19 02:41] #15 closed

[2016-06-19 02:59] Daniel15 commented on #15
Release in babel-standalone 6.10.3.

[2016-06-21 18:27] Daniel15 opened #33 "Allow data attributes to select presets/plugins"
Example:
[code]

[2016-06-21 18:28] Daniel15 commented on #32
I think you need to also load `babel-polyfill` too, but it should work once you do that. Let me know if you encounter any issues :)

[2016-06-24 21:50] hzoo commented on #3
Yeah maybe just need to debug why greenekeeper isn't working. Could also setup something like https://github.com/semantic-release/semantic-release

[2016-07-11 05:21] Daniel15 commented on #3
Initial work on an auto-update script: https://github.com/Daniel15/babel-standalone/commit/f82f8c7d6f7aabeebf6a6b99667141442178597c

I just need to add npm/bower push after update, and then I'll schedule it as a cronjob. :+1:

[2016-07-12 01:01] Daniel15 opened #37 "Add standalone Babylon build"
To complement `babel.js`, add a `babylon.js` that's just the parser and nothing else.

[2016-07-12 10:17] gamtiq opened #38 "Use of additional plugins"
Hello,

Is it possible to use additional plugins besides those that are included in the build? For example, [add-module-exports](https://github.com/59naga/babel-plugin-add-module-exports).
If it is possible, how additional plugins can be used with `babel-standalone`?

[2016-07-12 21:21] Daniel15 commented on #38
You need to build the plugin separately (eg. ask the plugin author to provide a browser build), and then pass it in to your `Babel.transform` call.

[code]

[2016-07-12 21:21] #38 closed

[2016-07-12 21:23] Daniel15 commented on #32
Closing this out, let me know if you still require assistance.

[2016-07-12 21:23] #32 closed

[2016-07-12 21:24] Daniel15 commented on #1
Closing this out. Automated builds will be the long-term solution for `babel-standalone` itself (#3)

[2016-07-12 21:24] #1 closed

[2016-07-13 16:08] codewithmichael opened #39 "Option to disable automatic "text/babel" script parsing"
Issue #15 added the ability to auto-transpile `<script type="text/babel">` elements.

Could we get an option to disable that feature?

I use babel-standalone—6.7.7 via CDN—as the basis for one of my projects, [babel-browser-harness](https://github.com/codewithmichael/babel-browser-harness), that already transpiles `text/babel` script tags, along with providing a module loader and a number of other

[2016-07-13 16:46] Daniel15 commented on #39
Good idea! Thanks for reporting.

[2016-07-14 00:27] EasonWang01 opened #40 "Will this support async"
Will this support async ?

[2016-07-26 11:51] jakubzloczewski opened #41 "Using with css modules"
First of all thanks for this awesome library.
I got to the point where I need to load styles using css-modules.

Does anyone know how to use this library with css modules and less preprocessor? I've tried with babel-plugin-css-modules-transform, css-modules-require-hook, babel-plugin-webpack-loaders but all of them are requiring 'fs' what is not possible in browser.

Thanks,
Jakub

[2016-08-02 05:43] Daniel15 commented on #41
I don't think you'll be able to use CSS modules with Babel-standalone. It's only designed to process JavaScript files, not CSS files. Since it does not have access to the file system, it's limited in what it can do with regards to CSS files.

[2016-08-02 05:43] #41 closed

[2016-08-02 05:43] Daniel15 commented on #40
Should do, as long as you load the Babel polyfill at runtime. Let me know if you encounter any issues!

[2016-08-02 05:43] #40 closed

[2016-08-04 13:27] steve-taylor opened #45 "Can I specify presets without having to place all JavaScript inside a string?"
According to README.md, if I want to specify plugins (e.g. `react`), I have to do something like this:

[code]

In other words, all the JavaScript code to be transformed has to come from a string instead of a `<script type="text/babel"></script>` element. Is this right? If not, is there a complete example of an html page in which presets are specified?

[2016-08-05 22:44] Daniel15 commented on #45
Not possible at the moment - Duplicate of #33

[2016-08-05 22:44] #45 closed

[2016-08-05 22:44] Daniel15 opened #46 "Remove es2015-loose, es2015-no-commonjs, etc with Babel 6.13.x"
See discussion in https://github.com/Daniel15/babel-standalone/pull/42#issuecomment-237982787

[2016-08-05 22:49] taion commented on #46
It depends how closely you want to follow semver. Probably it would be more confusing than it'd be worth for the version of babel-standalone tracking Babel 6.13.x to be 7.0.0.

But it is really nice to just write

[code]

&c.

[2016-08-05 22:50] Daniel15 commented on #46
I want to keep the version number equal to Babel's.

[2016-08-05 23:48] dublinus commented on #15
Is it possible to do this for a page which was loaded with ajax?

[2016-08-07 10:01] OmgImAlexis opened #47 "Safari treats const as var/let"
Version: Safari 9.1 (11601.5.17.1).

[code]

It also doesn't show the error that Chrome, etc. does.

[2016-08-08 05:51] Daniel15 commented on #47
This is probably an issue with Babel rather than babel-standalone, please report it as a Babel bug (https://phabricator.babeljs.io/).

[2016-08-08 05:51] #47 closed

[2016-08-08 16:52] Daniel15 commented on #15
@dublinus  How are you doing your AJAX request? Most likely you should just use `Babel.transform` on the scripts directly.

[2016-08-08 19:54] dublinus commented on #15
@Daniel15 That's what I ended up doing. Thanks!

[2016-08-25 02:31] Kovensky opened #49 "Support preset options for the bundled presets"
Right now, if, for example, `[ [ "es2015", {} ] ]` is given to plain `babel-standalone` in a browser, it causes babel to error out as it `Couldn't find preset "es2015" relative to directory "."`.

[2016-08-25 04:10] Kovensky commented on #46
This depends on #49

[2016-08-25 04:15] Daniel15 commented on #49
Should be straightforward to do, just need to modify the code at https://github.com/Daniel15/babel-standalone/blob/master/src/index.js#L25 to handle the value being an array.

[2016-08-25 12:12] taion commented on #49
This should probably come with bumping the minimum Babel version to 6.13 in package.json.

[2016-08-25 12:12] taion commented on #46
Probably the only thing we can do here is to deprecate those, if we want to keep semver.

[2016-08-25 16:41] Kovensky commented on #49
Wrote https://github.com/Daniel15/babel-standalone/pull/50 to implement this; also added support for passing options to plugins.

The package.json already requests `babel-core` and `babel-preset-es2015` ^6.13.2.

[2016-08-25 17:07] taion commented on #49
Oh, neat, didn't see that package.json got bumped.

[2016-08-25 17:15] Daniel15 commented on #49
Yeah I've got a somewhat-automated process for bumping versions in `package.json` and automatically releasing new builds as long as the unit tests pass. Haven't committed all the code for that yet though. One thing I should do is change the package.json to use exact package versions rather than ranges, as I always want these builds to be repeatable and use the exact same version of Babel.

[2016-08-26 03:45] Daniel15 commented on #49
Added in #50, thanks @Kovensky!

[2016-08-26 03:45] #49 closed

[2016-08-26 04:52] Daniel15 opened #51 "Add Babili"
https://github.com/babel/babili

Try and have a separate `babili.min.js` file, as not everyone will use it and it shouldn't bloat out the main `babel.js` file.

[2016-08-26 04:57] Daniel15 commented on #51
I'll add it this weekend.

[2016-08-27 06:30] #51 closed

[2016-08-27 06:42] #39 closed

[2016-08-27 07:09] #33 closed

[2016-08-28 11:33] murashki opened #52 "Set defaualt presets as `latest,stage-0,react`"
Perhaps it would be advisable to set defaualt presets as `latest,stage-0,react`. We have `es2015,react` default presets, but why? Why not `es2015,es2016` (current year).

I propose to fix default presets, or we must provide understandable explanation (logic, strategy) of which presets currently default and why.

Thanks for your work!

[2016-08-29 01:34] Daniel15 commented on #52
Maybe `es2016` should be included as default, but stage 0 proposals are generally not stable enough to be recommended for wide use (eg. as a default). ECMAScript proposals that are at stage 0 can be rejected or totally removed from the spec, and you use them at your own risk :smile:

[2016-08-29 13:55] murashki commented on #52
Your comment (recommendation) about stage-0 certainly useful when we decide use some features or not in out codebase. But this recommendation may be slightly inappropriate when we talk about transpiler defaults. I mean this are different things...

Ok. So i see such variants as:
`latest,stage-0,react`
`latest,stage-1,react` - good idea for transpiler **defaults**! :)
`latest,stage-4,react`
`latest

[2016-09-08 14:33] cicloon opened #58 "Error when trying to run any example: babel.js:3913 Uncaught SyntaxError: Invalid regular expression"
I get this on Chrome console when trying to run any example. I tried latest build and 6.13.2.

`babel.js:3913 Uncaught SyntaxError: Invalid regular expression: /[ÂªÂµÂºÃ€-Ã–Ã˜-Ã¶Ã¸-ËË†-Ë‘Ë -Ë¤Ë¬Ë®Í°-Í´Í¶Í·Íº-Í½Í¿Î†Îˆ-ÎŠÎŒÎŽ-Î¡Î£-ÏµÏ·-ÒÒŠ-Ô¯Ô±-Õ–Õ™Õ¡-Ö‡×-×ª×°-×²Ø -ÙŠÙ®Ù¯Ù±-Û“Û•Û¥Û¦Û®Û¯Ûº-Û¼Û¿ÜÜ’-Ü¯Ý-Þ¥Þ±ßŠ-ßªß´ßµßºà €-à •à šà ¤à ¨à¡€-à¡˜à¢ -à¢´à¢¶-à¢½à¤„-à¤¹à¤½à¥à¥˜-à¥¡à¥±-à¦€à¦…-à¦Œà¦à¦à¦“

[2016-09-08 14:35] cicloon commented on #58
Nevermind, I was missing the charset metatag.

[2016-09-08 14:35] #58 closed

[2016-09-08 17:19] Daniel15 commented on #58
Yes, you need to use UTF-8 (either save your HTML file with a UTF-8 BOM, or add `<meta charset="utf-8" />` to the `<head>`.

[2016-09-08 17:20] Daniel15 opened #59 "Version number exported from babel-standalone should be max(all Babel package versions) rather than just Babel core version"

[2016-09-08 17:25] Daniel15 commented on #3
Mostly automated here: https://github.com/Daniel15/babel-standalone/blob/master/scripts/update.ps1

Currently automated:
 - Updating `package.json` to point to newest Babel packages
 - Building / running unit tests to ensure latest Babel version is still compatible
 - Updating version number in `package.json`
 - Committing changes to Git, and tagging them
 - Updating Bower repo based on files from

[2016-09-08 17:25] #3 closed

[2016-09-10 01:56] Daniel15 commented on #3
Oh, I need to automate creation of the "release" on Github too, including uploading the `babel.js` and `babel.min.js` files. Writing this comment to remind myself.

[2016-09-21 09:38] stefek99 opened #60 "How to use plugins modules exports and imports?"
https://developer.mozilla.org/en/docs/web/javascript/reference/statements/export

![default export](https://cloud.githubusercontent.com/assets/249703/18705645/e7cc6a60-7fe6-11e6-815b-35977c17e382.PNG)

I have following code:

[code]

I can export `function cube` but how do I `import` it?

---

Note that `data-plugins="transform-es2015-modules-umd"` is required, otherwise it will throw `ReferenceEr

[2016-10-01 05:12] hzoo commented on #52
latest as default sounds fine

[2016-10-01 12:49] murashki commented on #52
But `React Start Up` use `stage-0` by default. I think this is right deсision!

[2016-10-10 20:15] Daniel15 commented on #60
I'm not sure how ES6 modules would work within the  context of a browser - How would you define the module name, for example?

[2016-10-12 21:11] stefek99 commented on #60
I'm sorry, not an expert here, and I know my case was pretty edgy...

I think I wanted to edit source file of some library and have it loaded directly into browser as I was working on limited environment (no admin rights, cannot install anything)

[2016-10-19 23:09] cansin opened #61 "`babel-plugin-external-helpers-2` was temporary and should be replaced by `babel-plugin-external-helpers`"
As the npm warning suggests:

[code]

I realized that while trying to use `babel-standalone` with a codebase that relies on `external-helpers` plugin rather than `external-helpers-2`.

[2016-10-19 23:15] cansin commented on #61
I tried tackling the problem at https://github.com/Daniel15/babel-standalone/pull/62 .

[2016-10-20 03:45] Daniel15 commented on #61
Fixed in #62 - Thanks for your contribution!

[2016-10-20 03:45] #61 closed

[2016-10-22 14:16] marcioacmauricio commented on #60
I also need to use exports defaults in my work completion university course, if you can find a solution I will be grateful if you share

[2016-10-25 05:29] cansin commented on #61
@Daniel15 any change of releasing this as a build, so that I can start using it through npm? I couldn't figure out a way to npm install git repo directly and still trigger the build step, and I didn't want to clutter the npm repo with a duplicate package. Thank you!

[2016-10-25 05:34] Daniel15 commented on #61
@cansin - Babel-standalone's version numbers follow Babel's, so I only release new versions when new versions of Babel come out. Lucky for you, Babel 6.18.0 came out today, so I'll push an update 😄

[2016-10-25 05:34] Daniel15 opened #63 "Replace npm with Yarn"

[2016-10-25 05:35] cansin commented on #61
@Daniel15 ha didn't realize :D Perfect!

[2016-10-25 05:37] Daniel15 commented on #61
Pushed 6.18.0!

[2016-10-25 23:27] mauroporrasp opened #64 "_fs2.default.existsSync is not a function"
If I go back to 6.14.0 it works.

The error:
![screenshot from 2016-10-25 18-25-20](https://cloud.githubusercontent.com/assets/167700/19707916/7f67a81c-9ae0-11e6-9096-217930d96384.png)

My code:
![screenshot from 2016-10-25 18-25-41](https://cloud.githubusercontent.com/assets/167700/19707917/7f6976d8-9ae0-11e6-98a0-b9680e2ee245.png)

[2016-10-25 23:29] Daniel15 commented on #64
Interesting, I can't reproduce the issue in the [Babel REPL](https://babeljs.io/repl/), which uses babel-standalone.

[2016-10-25 23:33] mauroporrasp commented on #64
I'm using Ubuntu Linux + Chrome Version 52.0.2743.82 (64-bit)

[2016-10-26 17:50] ConnorAtherton commented on #64
This looks related to this issue https://github.com/babel/babel/issues/4778 caused by this commit https://github.com/babel/babel/pull/4731/files.

[2016-10-27 23:01] ChrisCinelli commented on #60
I think if you have a jsFiddle, I may want to import external files. For example from `rawgit.com`

[2016-10-28 12:03] marcioacmauricio commented on #60
https://jsfiddle.net/marcioacmauricio/o142f0d1/2/

[2016-10-29 05:53] Daniel15 commented on #64
Ah I see, it only happens when using inline `<script>` tags. Looking into it.

[2016-10-29 06:02] #64 closed

[2016-10-29 06:04] Daniel15 commented on #64
Published 6.18.1 to fix this. Thanks for reporting!

[2016-10-29 06:28] Daniel15 commented on #63
Currently blocked by https://github.com/yarnpkg/yarn/issues/1368

[2016-11-07 00:03] Daniel15 opened #65 "Determine how Babili should be versioned"
See https://github.com/babel/babili/issues/139

Currently each plugin has its own version number, which makes it difficult to version babili-standalone as a whole.

cc @hzoo

[2016-11-07 00:20] hzoo commented on #65
Right now the preset/cli will update with every update in lock-step so it should be ok to version based on the preset only?

[2016-11-07 20:59] miclaus opened #66 "Invalid preset specified in Babel options: "stage2""
When I insert a babel script with the `data-presets` attribute according to the `README`:
[code]

I get the following error:
[code]

[2016-11-07 21:02] loganfsmyth commented on #66
That should be `stage-2` most likely.

[2016-11-07 22:08] Daniel15 commented on #66
Yeah, `stage-2`... Feel free to send a pull request updating the readme if you like :)

[2016-11-07 22:09] Daniel15 commented on #65
@hzoo Ahh I see, so I should be fine just using the version number of the preset? Is there any case where a plugin would have its version number updated but the preset wouldn't be updated?

[2016-11-08 07:42] miclaus commented on #66
Thanks !

@Daniel15 sure will do this afternoon :)

[2016-11-08 07:51] miclaus commented on #66
There you go :)

https://github.com/babel/babel-standalone/pull/67

[2016-11-08 07:53] Daniel15 commented on #66
Thanks! 😄

[2016-11-08 07:53] #66 closed

[2016-11-09 08:58] jarben opened #68 "Include babili in cdnjs?"
Is it possible to include babili.min.js in the https://cdnjs.com/libraries/babel-standalone build?

[2016-11-17 07:48] Daniel15 commented on #68
Sure, I'll do it :) For now you can use https://unpkg.com/ :)

[2016-11-17 08:56] jarben commented on #68
Didn't know about unpkg, thanks for sharing! Cool looking forward when it's part of cdnjs, thanks Daniel!

[2016-11-17 18:49] Daniel15 opened #69 "Finish the auto-update script"
- git reset, git pull at the start (eg. see how Yarn Debian repo script does it)
- Push to npm on success
- Push to GitHub release on success

[2016-11-18 22:11] Daniel15 commented on #65
@hzoo - Currently babel-preset-babili is at 0.0.8 but babel-plugin-minify-dead-code-elimination is at 0.1.0, so I don't think I can just rely on the version number of the preset.

[2016-11-20 02:37] #59 closed

[2016-11-21 06:00] Daniel15 commented on #68
https://github.com/cdnjs/cdnjs/pull/9696 adds it to CDNJS 👍

[2016-11-21 08:22] Daniel15 commented on #68
It's up now! https://cdnjs.cloudflare.com/ajax/libs/babili-standalone/0.0.8/babili.min.js

[2016-11-21 08:22] #68 closed

[2016-11-21 08:28] jarben commented on #68
Awesome, thanks heaps Daniel!

[2016-11-29 06:37] Daniel15 opened #70 "Add a lighter build with no presets bundled (build them separately)"
Someone might want to use babel-standalone **only** for JSX transformation (for example), and not want to use any of the other Babel stuff. For this use-case, bundling every standard plugin and preset with babel-standalone is overkill. Instead, there could be a babel-standalone core JS file that only contains the core of Babel, and a preset-react file that contains just the React preset.

Investig

[2016-11-30 00:39] hzoo commented on #70
Removing stuff from babel-core is it's own issue 😄

[2016-11-30 00:40] Daniel15 commented on #70
@zoo babel-core is still lighter than babel-core + all presets though, right?

[2016-12-07 17:25] jonysy opened #71 "Require is not supported in the browser.."
Full message:

[code]

What needs to be done to get this to work?

[code]

[2016-12-07 17:33] loganfsmyth commented on #71
You cannot use `babel-standalone` in this case. `babel-standalone` is able to compile individual files, but it has no support for modular code. For modules to work, you would need to use a normal Babel workflow using something like Webpack or Browserify to bundle all of your files into a single file to execute in the browser.

[2016-12-07 19:29] jonysy commented on #71
Thank you, Logan :)

[2016-12-07 19:29] #71 closed

[2016-12-12 13:42] cryptoquick opened #72 "Support link preload to fix browsers that prevent fetching scripts with an invalid type attribute"
When using the following syntax:

[code]

On Chrome 55, the console displays this error:

`Fetching scripts with an invalid type/language attributes is deprecated and will be removed in M56, around January 2017. See https://www.chromestatus.com/features/5760718284521472 for more details.`

There are more details here: https://www.chromestatus.com/feature/5760718284521472

The suggested approach is

[2016-12-13 08:15] Daniel15 commented on #72
I don't think the notice is relevant for babel-standalone. Since it loads the script using XMLHttpRequest: (see https://github.com/babel/babel-standalone/blob/master/src/transformScriptTags.js#L75), we're not actually relying on the browser to preload the script.

[2016-12-24 04:39] taion opened #73 "Cut a new release"
Could you cut a new release with an updated `debug` dependency version?

There was an issue with the browser build of visionmedia/debug v2.4.5 that made the browser build of debug not work outside of browsers (https://github.com/visionmedia/debug/commit/1c625d45786fa8b3f0d285d3165e4dd346985fac#diff-de1a5a7de991855714cdf433e9f8be96R13, fixed in https://github.com/visionmedia/debug/commit/fb6e43d66b

[2016-12-24 05:12] Daniel15 commented on #73
I'm current on vacation but I'll try to cut a release soon. In the
meantime, feel free to clone the repo and build it yourself :)

Sent from my phone.

On Dec 24, 2016 3:39 PM, "Jimmy Jia" <notifications@github.com> wrote:

[2017-01-04 17:43] yash2code commented on #72
@cryptoquick  the suggested approach not working !

[2017-01-12 20:16] fatcerberus opened #75 "babili-standalone requires ES6"
I'm currently using babel-standalone in the compiler for my game engine [minisphere](https://github.com/fatcerberus/minisphere).  I use [Duktape](https://github.com/svaarala/duktape) as my JavaScript backend, which currently only supports ES5.1 with a few select ES6 features, so I need a transpiler.  Babel itself works fine in this environment, but Babili does not, as it seems to require at least

[2017-01-12 20:22] hzoo commented on #75
fyi Babili dropped node 0.10/0.12 support from the beginning, and Babel will soon too

[2017-01-12 20:25] fatcerberus commented on #75
I'm not using it in Node.js though... that's why I need the standalone version.

[2017-01-13 07:10] Daniel15 commented on #75
Hi @fatcerberus! If the only thing missing is ES6 `Set`, then you can try loading an ES6 polyfill (such as the Babel polyfill: https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.20.0/polyfill.js, or core-js) and see if that helps. Let me know how you go 😃

@hzoo - Babel-standalone is designed for non-Node.js environments, so Node.js version isn't too relevant. It's just relevant in that Babel

[2017-01-13 07:11] Daniel15 commented on #73
6.21.1 was released 10 days ago.

[2017-01-13 07:11] #73 closed

[2017-01-13 07:12] taion commented on #73
Thanks!

[2017-01-13 07:12] Daniel15 commented on #73
Sorry for the delay in closing this issue - I forgot about it until just now when I was looking through my projects for stale issues 😃

[2017-01-13 07:13] Daniel15 commented on #72
This is not relevant to babel-standalone, as we don't rely on preloading. Babel-standalone is still working on Chrome 56. Closing this issue.

[2017-01-13 07:13] #72 closed

[2017-01-13 07:15] fatcerberus commented on #75
Hm, I guess transpilation alone can't do much about built-ins, only syntax.  I'll try the polyfill and let you know what happens, thanks.

[2017-01-13 07:22] Daniel15 commented on #75
Yeah, for builtins, the easiest way is to use a polyfill.

The other possible approach is that we could have a transformation that switches builtins to instead use a module (eg. replace `new Set` with `new require('core-js/library/fn/set')`) and bundle the implementation inside babili-standalone. That adds extra bytes though, and all other code that uses ES6 Sets will also have the same issue. It'

[2017-01-13 07:28] fatcerberus commented on #75
Well, for what it's worth, the polyfill worked and my compiler can do automated minification now.  So thanks again! 😄

Since the whole reason I added Babel was in order to support ES6+ code in the first place, the polyfill is a welcome addition to my environment anyway.

[2017-01-13 07:55] Daniel15 commented on #75
Glad to hear that it worked! I'm going to close this issue, but let us know if you have any other questions! 😃

[2017-01-13 07:55] #75 closed

[2017-01-14 15:09] fatcerberus opened #76 "Auto-update script doesn't handle UTF-8 characters correctly"
At first I thought this was a bug in my JS runtime, but the minified script doesn't parse in Node either.

[code]

The unminified script is fine.

[2017-01-18 06:02] Daniel15 commented on #76
Hmm strange, the minified version should just be the unminified version after running it through UglifyJS. I'll take a look!

Have you seen this in any older versions of babel-standalone, or just the latest version?

[2017-01-18 06:21] fatcerberus commented on #76
I didn't check the older versions, only the latest release on GitHub (6.21.1).

[2017-01-18 18:19] jadekler opened #77 "Cannot read property 'TYPED_ARRAY_SUPPORT' of undefined"
When I `npm install --save-dev babel-standalone` and `import 'babel-standalone'`, my browser console gives me:

![screen shot 2017-01-18 at 11 19 08 am](https://cloud.githubusercontent.com/assets/3584893/22077084/f348d4dc-dd6f-11e6-8709-787058b60ed5.png)

[2017-01-18 18:23] jadekler commented on #77
Got it to work with `exclude: /node_modules/` in our webpack.

May be worth writing up a small example of how to use webpack + babel-standalone + imports?

For anyone stumbling across this in the future, here's how we're doing it:

.babelrc
[code]

webpack.config.babel.js
[code]

app.jsx
[code]

[2017-01-18 18:28] #77 closed

[2017-01-23 03:36] fatcerberus commented on #76
@Daniel15 Any luck figuring this out?

[2017-01-23 04:20] loganfsmyth commented on #76
So if you run this on your own machine it errors? For me I get:

[code]

So no errors on my side.

[2017-01-23 04:22] fatcerberus commented on #76
Huh, you're right, when installed through npm it's fine.  But using the `babel.min.js` from the Releases page:
https://github.com/babel/babel-standalone/releases/tag/release-6.21.1

I get the error posted above.

[2017-01-23 05:11] loganfsmyth commented on #76
@Daniel15 Must be an encoding issue with your release creation scripts. I don't know Powershell though, so hard to help more. The release file definitely isn't UTF8.

[2017-01-24 19:04] Daniel15 opened #78 "Auto update script should nuke node_modules"
npm does strange things and node_modules gets super bloated over time. I think it still hoists older versions of babel-core and ends up including the newer version in the sub-`node_modules` of all the plugins. The script should delete the entire `node_modules` directory when building.

[2017-01-24 19:16] Daniel15 commented on #76
Sorry about that! I tried to fix it, but my fix didn't work, so I've just manually attached valid files for the 6.22.1 release. I'll take a closer look and see what's happening. My script is calling GitHub's API to attach the build artifacts to the release. I think I need to somehow specify the content-type in the GitHub API request itself.

[2017-01-25 20:13] fatcerberus commented on #76
Thanks, good to know I'm not going crazy.

[2017-02-09 08:39] reverland opened #79 "How to build a customized babel-standalone?"
just git clone this repo

run

[code]

Warning!

[code]

move `babel.min.js` to use it in browser, get following warnings and errors.

[code]

but it looks works..if I missed something?

[2017-02-09 11:01] reverland commented on #79
The browser error disapears, so, it works well and there are just warnings during build...

[2017-02-13 00:56] brownieboy commented on #60
Native module loading is coming to browsers.  In fact, it's already available in Firefox, Safari and Edge, but only in pre-release versions, and then hidden behind a flag.  Here's a very good blog post that gives an overview of the current state of play:
https://blog.hospodarets.com/native-ecmascript-modules-the-first-overview

I tested native module loading, using version 54 of [the Firefox Night

[2017-02-13 01:08] Daniel15 commented on #79
Is this being thrown from your code, or from within babel-standalone?

[2017-02-13 03:38] reverland commented on #79
@Daniel15 Sorry, I've confirmed its not a problem caused by babel-standalone... I'll close this issue.

 but what's the warning during build?

[2017-02-13 03:38] #79 closed

[2017-02-13 06:27] Daniel15 commented on #79
The warnings are an issue with the  build that I need to fix, but they shouldn't break anything.

[2017-02-13 09:49] reverland commented on #79
yeah, it don't break anything as far as I can see...

thank you

[2017-02-20 05:58] Daniel15 commented on #77
I don't think this is a very common use case, hence there's not a lot of documentation around it 😃

[2017-02-21 12:03] jadekler commented on #77
@Daniel15 It's not? Isn't that what React's code editor and various other code editors use?

[2017-03-23 08:40] zzmingo opened #80 "Could you export the method "transformScriptTags"?"
In some cases, i would like to load script tags the type of "text/babel" after DOMContentLoaded, and call `transformScriptTags`.

[2017-04-03 02:28] Daniel15 commented on #80
Sure, feel free to send a pull request implementing this if you like 😃

[2017-04-03 05:52] zzmingo commented on #80
done

[2017-04-03 05:52] #80 closed

[2017-04-06 13:15] jochenberger opened #82 "Include babel-plugin-inline-replace-variables"
https://www.npmjs.com/package/babel-plugin-inline-replace-variables
I use it to replace `__DEV__` with a boolean value.
I could try to create a PR if that's something you're willing to add.

[2017-04-09 00:38] Daniel15 commented on #82
Sure, feel free to send a PR.

[2017-04-11 08:51] jochenberger commented on #82
Closing in favor of #83

[2017-04-11 08:51] #82 closed

[2017-05-13 19:56] #76 closed

[2017-05-13 23:54] #78 closed

[2017-05-15 08:48] tomgillespy opened #84 "New build breaks text/babel and text/jsx fetching"
I can't get a test case just yet, but the new release fetched from the cdn broke fetching of javascript using text/babel and text/jsx in the type descriptor. I've downgraded to 6.24.0 and it works fine again.

I have the babel script in the head:
`<script src="assets/custom/js/babel.min.js" charset="utf8"></script>`

And below in the document 'footer' I have my assets, one of them includes
`<scrip

[2017-05-15 14:45] RRSprinkhuizen commented on #84
Behaviour and workaround confirmed by me :-p Thanks.

[2017-05-16 03:23] Daniel15 commented on #84
Thanks for the bug report! Looking...

[2017-05-16 03:34] #84 closed

[2017-05-16 03:43] Daniel15 commented on #84
Thanks for reporting this! I've patched this in 6.24.2 release and have confirmed it's working correctly now: https://babel-standalone.dan.cx/examples/scriptTag-src.htm

[2017-05-16 03:57] Daniel15 commented on #69
Done

[2017-05-16 03:57] #69 closed

[2017-05-16 21:05] chobo2 commented on #60
What is the solution to get this to work?

[2017-05-16 21:27] chobo2 opened #85 "Can I use this? Not sure how to handle Imports."
Hi

I am using Reactjs and want to use a datepicker: https://github.com/Hacker0x01/react-datepicker

I have no clue how to make it work as the example uses

import React from 'react';
import DatePicker from 'react-datepicker';
import moment from 'moment';

I downloaded the scripts for each one

[code]

React works just fine but when I try to use the Datepicker based on there example I get " Uncaug

[2017-05-22 01:35] fatcerberus opened #86 "Add support for `env` preset"
`latest` preset is officially deprecated with `env` recommended to be used instead:
https://babeljs.io/docs/plugins/preset-latest/

However, babel-standalone doesn't appear to support `env`.

[2017-06-06 00:42] jetiny opened #87 "Can you export buildExternalHelpers for rollup-babel-standalone ?"
[code]

[2017-06-06 00:45] Daniel15 commented on #87
What is "rollup-babel-standalone"?

This should be easy to do, feel free to send a pull request.

[2017-06-06 01:12] jetiny commented on #87
Thanks.
[rollup website](rollupjs.org)

[2017-06-06 01:17] loganfsmyth commented on #87
This seems like a reasonable thing to expose. The question above isn't asking what Rollup is, it's asking how that ties to standalone. I don't get how you'd combine Rollup and babel-standalone. The point of `babel-standalone` is non-Node usage, and Rollup is entirely Node.

[2017-06-06 02:27] jetiny commented on #87
It's for node only, For some reasons we need to use babel-standalone with rollup-plugin-babel, but it need [buildExternalHelpers](https://github.com/jetiny/rollup-plugin-babel-standalone/commit/6d8d57eab2a86a2c3c638054d5d39793cb2475ba#diff-1fdf421c05c1140f6d71444ea2b27638)

[2017-06-06 02:28] Daniel15 commented on #87
Added in #88

[2017-06-06 02:28] #87 closed

[2017-06-06 02:30] loganfsmyth commented on #87
@jetiny There's no benefit to using `babel-standalone` with Rollup. If you're finding that necessary, I'd recommend exploring why that is, since you're now reinventing existing tooling for Rollup.

[2017-06-06 02:37] jetiny commented on #87
Out CI is too slow, even if we use yarn and a private cnpm registry, we must cut down the dependencies of npm packages

[2017-06-30 20:39] Daniel15 opened #89 "Include "idx" plugin"
https://github.com/facebookincubator/idx

[2017-07-02 10:08] xtuc commented on #89
Could we use https://github.com/babel/babel/pull/5813 instead? It's in the 7 branch.

[2017-07-02 19:06] Daniel15 commented on #89
@xtuc - Oh cool, I didn't realise that proposal even existed! Is that pull request just a syntax plugin, or does it also contain the transform?

[2017-07-03 07:13] xtuc commented on #89
It contains the transformation and the syntax plugin. Babylon must be updated as well.

[2017-07-12 13:50] hzoo commented on #89
https://github.com/babel/babel/releases/tag/v7.0.0-alpha.15, yeah it would be great if we could have 7.x alpha automatically published separately

[2017-07-15 16:53] tomByrer commented on #63
I suggest closing; npm5 is faster, & I don't see any substantial advantages aside form the cuter logo?
https://github.com/siddharthkp/npm-cache-benchmark

https://yarnpkg.com/blog/2017/05/31/determinism/

On personal note, Yarn was very troublesome on my Windows computer.

[2017-07-15 18:51] Daniel15 commented on #63
@tomByrer - npm5 still has a bunch of bugs so I'm not upgrading to it any time in the near future. The benchmark result isn't very convincing - a few seconds isn't going to make much of a difference. The Yarn team are currently working on Yarn 1.0. I work on Yarn myself, but mainly around the packaging/release process.

[2017-07-17 03:32] tomByrer commented on #63
I see no issues with npm5 so far.

[2017-07-31 03:42] Daniel15 opened #91 "Work out why v7 build is much larger than v6 build"
Need to work out why the file size for babel-standalone v7 has dramatically increased (4.54 MB for v7 vs 1.78 MB for v6)

Suggestion from @Kovensky:

[2017-07-31 05:08] Daniel15 commented on #91
Here's the JSON files:

[babel-v6.json](https://babel-standalone.dan.cx/temp/babel-v6.json), ~5.7 MB
[babel-v7.json](https://babel-standalone.dan.cx/temp/babel-v7.json), ~13.7 MB

To get names of all modules in the bundle:
[code]

Module lists:
[babel-v6-modules.txt](https://github.com/babel/babel-standalone/files/1186445/babel-v6-modules.txt)
[babel-v7-modules.txt](https://github.com/babel/babel-

[2017-08-01 04:47] Daniel15 commented on #91
Fixed in 5721b2e43e835183bcd417ab225fde23b541a595

Filed https://github.com/babel/babel/issues/6034 for a related issue in Babel itself.

[2017-08-01 04:47] #91 closed

[2017-08-01 16:51] lingxufeng2014 commented on #24
@khankuan I also met the same scene, and I solved it in this way. I think it would not be the best way to mount all the objects on the window. Would you later find a better solution?

[2017-08-17 16:02] nhuttrung commented on #70
I have same requirement: just core of Babel and preset-react.

How to customize package.json and/or index.js file?

Thanks

[2017-08-18 00:06] Daniel15 commented on #70
@nhuttrung  You could build your own version of babel-standalone that does not include any of the plugins or presets.

[2017-08-29 23:35] hzoo commented on #46
Ok we can do this easily (in the monorepo)

[2017-09-09 13:21] jeffrafter commented on #60
test.html:

[code]

cube.js

[code]

[2017-10-05 14:16] RobertCZ opened #95 "Prebuilt 7 beta?"
Can we have prebuilt 7 beta or updated instructions how to build it? With this move to main Babel repo everything changed but README not updated and I'm getting lost between the old docs and the new Babel. Want to test this TypeScript support :-) Thanks, Daniel.

[2017-10-05 14:24] existentialism commented on #95
@RobertCZ hey! check out: https://unpkg.com/babel-standalone@7.0.0-beta.2/

[2017-10-05 15:38] RobertCZ commented on #95
Cool, thanks

[2017-10-06 06:59] RobertCZ commented on #95
Just a quick check: this is supposed to have all there plugins, right? Im getting Invalid plugin error on "transform-typescript"

[2017-10-06 07:07] Daniel15 commented on #95
Plugins need to be manually added to babel-standalone (we intentionally
don't automatically bundle all plugins; see the discussion on
https://github.com/babel/babel/pull/6177). It's possible you'll need to
submit a PR to the Babel repo to add the plugin.

Sent from my phone.

On Oct 6, 2017 5:59 PM, "RobertCZ" <notifications@github.com> wrote:

Just a quick check: this is supposed to have all ther

[2017-10-06 11:27] RobertCZ commented on #95
What "manually added" exactly means? I tried `npm install --save-dev babel-plugin-module-resolver` in the babel-standalone folder, added `module-resolver` to registerPlugins in `src/index.js` and did `make build` in a babel root folder. Got build warnings about `Critical dependency: the request of a dependency is an expression` and then got runtime error `Cannot read property '1' of undefined at P

[2017-10-19 06:15] RobertCZ commented on #95
Re-closing as original issue was solved, but more docs how to build babel standalone 7 with custom modules would be really helpful.

[2017-10-19 06:15] #95 closed, assigned to nobody

[2017-11-02 12:50] mizchi opened #96 "Change `type` attribute to other to use with native esm type="module""
Native es modules needs `type='module'` to compile. babel-standalone need this field so I can't use both.

In Chrome Canary (64)

[code]

[2017-11-04 22:23] Daniel15 commented on #96
I'm not quite sure how you'd use both together... Can you elaborate on how it'd work? I don't know a lot about ES modules.

[2017-11-09 20:38] brownieboy commented on #85
I'll belatedly answer this.

The short answer is "no".  Neither Babel nor Babel Standalone (now part of Babel itself) are module bundlers.  You'll need something like SystemJS if you want to use import and export statements in the browser.

You might also check out native bundling now that's finally seen the light of day some in the latest browsers - Chrome and Safari, anyway.

[2017-11-20 02:32] Daniel15 commented on #89
Not relevant any more.

[2017-11-20 02:32] #89 closed

[2017-12-05 20:32] ryanpcmcquen commented on #60
Is there a solution for this? Should we move this to the main Babel repo for more exposure (now that standalone has moved)?

[2017-12-05 20:33] Daniel15 commented on #60
I think https://github.com/babel/babel/pull/6223 should actually fix this.

If that PR doesn't fix it, let's open a new issue in the Babel repo 😃

[2017-12-05 20:33] #60 closed

[2017-12-05 20:33] Daniel15 commented on #60
If that PR doesn't fix it, let's open a new issue in the Babel repo 😃

[2018-02-21 23:20] SuperOP535 opened #98 "null"
deleted

[2018-02-21 23:22] #98 closed, assigned to nobody

[2018-04-08 05:15] DanBuild opened #99 "babel-standalone-update #18 failed"
Build 'babel-standalone-update' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://build.dan.cx/job/babel-standalone-update/18/)

cc @Daniel15

[2018-04-23 11:27] cristianbogdan opened #100 "plugin transform-es2015-modules-umd fails with Babel 6"
I think this is a bug.

The code indicated here:
https://github.com/babel/babel-standalone/pull/92

Fails with Babel 6:
[code]

This seems related to Babel 6 treating exports as per the ES6 spec

[2018-04-23 14:37] cristianbogdan commented on #96
My use case is as follows: a react-based library uses ES6 export. Therefore it has to be imported within a <script type="module">. Then that script needs to use Babel to make use of the components defined in the library.

But the script cannot have both type= "module" and type="text/babel".

The workaround I found is to use another script, and to pass the library exports via window... According to

[2018-04-23 19:35] cristianbogdan commented on #96
Actually it is also possible to skip ES6 import and parse the library with Babel so all imports and exports are transpiled (and not really used, but at least the library has the same source code in standalone mode as in node.js use)

[code]

[2018-05-01 09:01] Daniel15 commented on #100
This issue was moved to babel/babel#7847

[2018-05-01 09:01] #100 closed, assigned to nobody

[2018-05-01 09:02] #99 closed, assigned to nobody

[2018-05-21 23:46] DanBuild opened #101 "babel-standalone-update #21 failed"
Build 'babel-standalone-update' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes
No changes
No changes
No changes

[View full output](https://build.dan.cx/job/babel-standalone-update/21/)

cc @Daniel15

[2018-05-28 12:15] pedrofurtado opened #102 "Upgrade to babel v6.26.3?"
@Daniel15

[2018-06-04 18:30] Daniel15 commented on #102
This is maintained as part of Babel now. @hzoo Do you know if we're still updating babel-standalone for v6.x, or are we just focused on v7.x? Is it okay to push a new 6.x babel-standalone release?

[2018-06-04 18:32] hzoo commented on #102
If you are cool with doing releases on v6 I definitely wouldn't be opposed?

[2018-06-05 11:14] pedrofurtado commented on #102
@Daniel15 @hzoo It's a great idea to update the 6.x versions here. Many applications use this repository in production, and could be obsolete (without new features or bug fixes) while not update the version of babel standalone.

[2018-06-05 12:56] hzoo commented on #102
I don't think we ever intended Babel standalone to be used in "prod" but interesting to hear that. It's also not actively maintained if that wasn't clear since we have been trying to release 7. We definitely don't need to add features to 6.x or even update it much if at all which is why the last updates were only for sourcemaps which isn't really useful for Babel standalone anyway

[2018-06-05 13:03] pedrofurtado commented on #102
@hzoo @Daniel15  An example is this repository: https://github.com/babel/ruby-babel-transpiler . It uses the babel standalone source code, and many Rails applications that I work on use it. But, unfortunately, it is not updated with 6.x versions of Babel.

[2018-06-05 13:06] pedrofurtado commented on #102
@hzoo @Daniel15 There are some issues related to this:

https://github.com/babel/ruby-babel-transpiler/issues/288
https://github.com/babel/ruby-babel-transpiler/issues/300

Upgrade to 6.x version is a great improvement for all community that uses the babel standalone, like `ruby-babel-transpiler` in Rails applications :tada:

[2018-06-06 07:06] Daniel15 commented on #102
I'll push an update later this week, maybe tomorrow. Hopefully the update script still works, otherwise I'll just do it manually.

These releases are actually supposed to be automated, but the automation broke at some point (eg. see https://build.dan.cx/job/babel-standalone-update/31/console) 😢

[2018-06-06 07:08] Daniel15 commented on #102
@pedrofurtado Both of those issues are specific to ruby-babel-transpiler, and most of the work for those would need to be done in that project. Once ruby-babel-transpiler is updated to use babel-standalone, switching to a different version should be easy.

[2018-06-06 17:20] pedrofurtado commented on #102
@Daniel15 Thanks for feedback! Any news about updating of version, let me know that I will help you with tests (locally on my machine and in the applications that I work here). :+1:

[2018-06-09 19:47] lukejacksonn commented on #96
I just came across this same issue. Where I would like the contents of a `<script type='module'>` to be transpiled by babel standalone.

Is there a particular reason you chose to use the `type` attribute as a flag to indicate that the script should be transformed? Or could it have been any attribute like `class` or `data-babel`?

[2018-06-09 20:15] DanBuild commented on #96
You need to use a type that's not a natively supported one (like
text/javascript), otherwise the browser tries to execute the script.

Sent from my phone.

On Sat, Jun 9, 2018, 12:47 PM Luke Jackson <notifications@github.com> wrote:

[2018-06-09 21:22] lukejacksonn commented on #96
Humm.. then would it be possible to specify the type of the outputted script.. maybe by saying something like `<script type='text/babel/module'>...</script>` which outputs:

[code]

[2018-06-18 11:19] pedrofurtado commented on #102
@Daniel15 @hzoo Any news?

[2018-06-23 18:27] MikelMNJ commented on #96
Also unable to use the ES6 module attribute type with text/babel in my React JSX apps.  I think using a data attribute for babel may be the way to go, freeing up the type attribute for the ES6 module type.

[2018-06-28 23:16] jamiebuilds opened #103 "archive this repo?"
since you're directing people elsewhere

[2018-06-29 05:21] Daniel15 commented on #103
Good idea. I was keeping it open since this repo's code is still used for Babel 6.x, but I'll archive it anyways.

[2018-06-29 05:21] #103 closed, assigned to nobody